@charset 'UTF-8';

/* #F7A6B9 */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(to right, #000000b8, #000000b8), url('https://lh3.googleusercontent.com/cvf2TCeqzXlIu5qw9IVhMi0A_0AUZbjbiCFm_h57uPMC0cxJwocmaCAuy6ryQ2HOkPrLRQaJvE1cZNzb=w2880-h1200-p-l90-rj');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: auto;

    text-align: center;
    color: white;
}

header{
    background-color: black;

    border-radius: 0px 0px 30px 30px;

    margin-bottom: 30px;
}
header img{
    width: 200px;
    padding: 5px;

    box-shadow: 0px 10px 30px #f7a6b96e;
}

main{
    background-color: black;

    margin: 50px auto;
    width: 80vw;
    max-width: 700px;
    border-radius: 20px;

    border: solid #ffffff77;

    transition: 0.3s;
}
main:hover{
    transition: 0.3s;

    border: solid #f7a6b9;
    box-shadow: 0px 10px 50px #f7a6b99e, inset 0px 20px 50px #f7a6b942;
}

main img{
    width: 100%;

    border-radius: 20px 20px 0px 0px;
}
main h1{
    text-shadow: 0px 3px #f7a6b9e7;
    font-size: 2.5em;

    padding: 10px;
}

main p{
    padding: 10px;
    margin: 0px 30px;

    text-align: left;
    text-indent: 20px;
    font-size: 1.7em;
    font-weight: bolder;
    line-height: 1.3em;
}

.musicas{
    font-variant: small-caps;
    color: white;
    text-decoration: none;

    text-shadow: 0px 3px #f7a6b9cb;
}

.integrantes{
    display: flex;
    align-items: center;
}
.idol{
    width: 50%;
    margin: 20px 0px;
}
div.integrantes p{
    font-size: 3em;
    text-align: center;
}

#left{
    border-radius: 0px 80px 80px 0px;
    box-shadow: 5px 0px 15px #f7a6b9a3;
}
#lname{
    text-shadow: 5px 0px #f7a6b9;
}

#right{
    border-radius: 80px 0px 0px 80px;
    box-shadow: -5px 0px 15px #f7a6b9a3;
}
#rname{
    text-shadow: -5px 0px #f7a6b9;
}

div.integrantes a{
    width: 50%;
    color: unset;
    text-decoration: none;
}
div.integrantes a:hover{
    text-decoration: underline;
}